
.base-container {
    background-image: url('../vending-machine-Kawaii-Graphic-Graphics.jpg'); /* Replace 'path/to/your/image.jpg' with the correct path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; /* Set the minimum height to cover the entire viewport */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* Add any other styling you need for your container */
}

.vending-machine-title {
    color: aliceblue;
    display: block;
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    background-color: rgba(127, 255, 212, 0.577);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);


}

.snack-list{
    position: relative;
    flex-direction: column;
   ;
}

.left {
    position: absolute;

    font-size: 25px;
    background-color: rgba(127, 255, 212, 0.577);
    border-radius: 10%;
    margin-top: 5%;
    margin-left: 10%;
    padding: 3%
  }
  
  .right {
    position: absolute;

    font-size: 25px;
    background-color: rgba(127, 255, 212, 0.577);
    border-radius: 10%;
    margin-top: 5%;
    margin-left: 75%;
    padding: 3%

  }
  #chips{
    width: 10%;

  }

  #soda{
    margin-top: 20%;
    width: 10%;
  }

  #hardcandy {
    margin-top: 20%;
  }

  